.wrapper {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin-left: 100px;
    margin-bottom: 24px;

}
.divInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}
.loadMoreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.loadMoreBtn {
    border-radius: 30px;
    padding: 14px 40px;
    width: 159px;
    height: 48px;
    background: var(--primary-color-red);
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.01em;
color: var(--primary-color-white);
border: none;
}
.header {
    background: var(--primary-color-red);
    padding: 15px;
    margin-bottom: 60px;
    /* position: absolute; */
    /* left: 10%; */
    padding-left: 110px;
}